body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f0f0f0;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.profile-image {
  width: 200px;
  margin-right: 30px;
}

.profile-links ul {
  list-style: none;
  padding: 0;
}

.profile-links li {
  margin-bottom: 5px;
}

.profile-links a {
  text-decoration: none;
  color: #333;
}

.content {
  
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #f0f0f0;
}html {
  height: 100%;
  width: 100%;
}